@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-gray-900;
  font-family: 'Lexend', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  color: #f59e0b;
}

.gradient-text {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-blue-600 to-purple-600;
}
